* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background.png');
  background-attachment: fixed;
  background-size: cover;
}
/* для меню хедера */
body._lock {
  overflow: hidden;
}
/* для меню хедера */
.container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding: 0 25px;
  box-shadow: 0 0 60px rgb(255, 255, 255);
}

.btn-up {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(54, 54, 54, 0.945);
  right: 25px;
  bottom: 25px;
  font-size: 24px;
  text-align: center;
  display: block;
  cursor: pointer;
  z-index: 8;
}
.btn-up:hover {
  box-shadow: 0 0 10px #fff;
}
.btn-up-1 {
  color: #fff;
  display: block;
  padding-top: 10px;
}
.conferences {
  min-height: 600px;
  background-image: url('../img/conferences-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.conferences:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.788), #00000000);
}

.conferences_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  z-index: 0;
}

.conferences_title {
  color: #fff;
  font-size: 65px;
  margin: 0;
}

.conferences_info {
  width: 700px;
  color: #dcdbda;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-top: 40px;
}

.contents_with_phone {
  min-height: 1200px;
  background-image: url('../img/backgroundPhone.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-color: rgba(255, 255, 255, 0.575);
  z-index: 1;
}

.organization {
  min-height: 600px;
  display: flex;
}

.organization_contents {
  display: flex;
  flex-direction: column;
  margin-left: 270px;
}

.organization_title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.organization_title_info {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 17px;
}

.org_number {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-top: 0;
  list-style-type: none;
  padding: 0;
}

.org-li {
  display: flex;
  margin-bottom: -6px;
}

.org-p {
  margin-left: 7px;
  font-size: 14px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 500px;
  margin-top: 130px;
}

.img-exp {
  margin-right: 9px;
}

.exp_contents {
  display: flex;
}

.experience_info {
  font-size: 20px;
}

.places {
  min-height: 1500px;
  background-image: url('../img/background-2.png');
  display: flex;
  justify-content: center;
}

.places:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(131, 131, 131, 0.733), #0000009d);
}

.places_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.place-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-p {
  color: #fff;
  font-size: 24px;
  margin: 0;
  line-height: 30px;
  font-style: italic;
}

#place-p-1 {
  margin-top: -150px;
}

#place-p-3 {
  margin-top: -300px;
}

#place-info-4 {
  margin-top: -100px;
}

#place-info-2 {
  margin-top: -70px;
}

.place-p-end {
  color: #fff;
  font-size: 24px;
  margin: 0;
  line-height: 30px;
  font-style: normal;
  margin: 40px auto 80px auto;
  text-align: center;
  max-width: 800px;
}

.place-icon {
  margin-right: 10px;
}

.place-with-icon {
  display: flex;
  align-items: flex-start;
}

.places_title {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.portfolio {
  min-height: 900px;
  background-color: rgba(255, 255, 255, 0.575);
}

.portfolio_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 60px;
}

.portfolio-img {
  margin-top: -100px;
  width: 100%;
}

.about {
  background: rgba(0, 0, 0, 0.856);
}

.about_content {
  min-height: 350px;
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.about_title {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about_text {
  color: #dcdbda;
  font-weight: normal;
  font-size: 16px;
  text-shadow: 0 0 20px rgb(0, 0, 0);
  text-align: center;
}

.with_company {
  min-height: 600px;
  /* background-color: rgba(255, 255, 255, 0.575); */
  background-image: url('../img/background-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.with_company:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.596), #ffffffe3);
}

.company_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto 100px auto;
  z-index: 0;
}

.company_title {
  color: #000;
  font-weight: bold;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.slider__items {
  counter-reset: slide;
}

.slider__item {
  counter-increment: slide;
}

.slider__item > div::before {
  content: counter(slide);
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

.slider__indicators {
  display: none;
}

.btn-wrapper {
  display: flex;
  max-width: 600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  cursor: pointer;
  margin: 6px 3px;
  -webkit-appearance: button;
  font-size: 10px;
  padding: 8px 14px 6px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 2px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 14%);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgb(0 0 0 / 20%);
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer {
  min-height: 250px;
  background: rgba(0, 0, 0, 0.856);
}
.footer {
  position: relative;
}
.footer_content-1 {
  position: absolute;
  left: 25px;
}
.footer_content-3 {
  position: absolute;
  right: 25px;
}
.footer_content {
  /* display: grid;
  grid-template-columns: 1fr, 2fr, 1fr; */
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.footer_content-2 {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
}

.logo-footer {
  margin-bottom: 5px;
}

.lang a {
  padding: 5px;
  color: #dcdbda;
}

.lang a:hover {
  color: #fff;
  text-shadow: 0 0 20px #fff;
}

.footer-p {
  font-size: 12px;
  color: #dcdbda;
  margin-top: 40px;
  margin-bottom: 0;
}

.social-link {
  color: #dcdbda;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.social-1 a {
  color: #dcdbda;
}

.social-1 a:hover {
  color: #fff;
  text-shadow: 0 0 20px #fff;
}

.social-link-1 {
  padding-left: 34px;
}

.social-img {
  margin-right: 5px;
  width: 28px;
}

.footer-h3 {
  color: #fff;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.footer-adress {
  display: flex;
  align-items: center;
}

.footer-p-adress {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
  max-width: 200px;
}

.footer-p-phone-1 {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-left: 35px;
}

.footer-p-phone {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
@media (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }
  .organization_contents {
    max-width: 700px;
  }
  .contents_with_phone {
    background-position-y: 70px;
  }
  .exp_contents {
    max-width: 550px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 850px;
  }
  .social-link {
    font-size: 14px;
  }
  .conferences_title {
    font-size: 60px;
  }
  .contents_with_phone {
    background-position-y: 200px;
  }
  .organization_contents {
    margin-left: 230px;
  }
  .place-p {
    font-size: 16px;
  }
  .place-img {
    width: 60%;
  }
  .exp_contents {
    max-width: 490px;
  }
}

@media (max-width: 930px) {
  .container {
    max-width: 100%;
  }
  .contents_with_phone {
    background-position-y: 170px;
  }
}

@media (max-width: 897px) {
  .contents_with_phone {
    background-position-y: 210px;
  }
}

@media (max-width: 825px) {
  .organization_contents {
    margin-left: 200px;
  }
  .contents_with_phone {
    background-position-y: 220px;
  }
  .portfolio-title {
    margin-bottom: 50px;
  }
}

@media (max-width: 795px) {
  .conferences_title {
    font-size: 55px;
  }
  .contents_with_phone {
    min-height: 1200px;
    background-image: url('../img/backgroundPhone_795.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-color: rgba(255, 255, 255, 0.575);
    z-index: 1;
  }
  .exp_contents {
    max-width: 380px;
  }
  .exp_contents b {
    font-size: 18px;
  }
}
@media (max-width: 750px) {
  .conferences_title {
    font-size: 50px;
  }
  .conferences_info {
    width: 560px;
  }
  .contents_with_phone {
    min-height: 1200px;
    background-image: url('../img/backgroundPhone_750.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-color: rgba(255, 255, 255, 0.575);
    z-index: 1;
  }
  .about {
    min-height: 450px;
  }
  .company_title {
    margin-bottom: 60px;
  }
  .social-link,
  .footer-p-adress,
  .footer-p-phone,
  .footer-p-phone-1 {
    font-size: 12px;
  }
  .social-link-1,
  .footer-p-phone-1 {
    padding-left: 31px;
  }
  .social-img {
    width: 26px;
  }
  .footer-p-adress {
    max-width: 180px;
  }
}

@media (max-width: 730px) {
  .places_title {
    margin-bottom: 90px;
  }
  .portfolio {
    min-height: 800px;
  }
  .portfolio-title {
    margin-bottom: 80px;
  }
}

@media (max-width: 699px) {
  .conferences {
    min-height: 500px;
    background-image: url('../img/conferences-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  .conferences_title {
    font-size: 48px;
  }
}

@media (max-width: 680px) {
  .contents_with_phone {
    min-height: 1200px;
    background-image: url('../img/backgroundPhone_750.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-color: rgba(255, 255, 255, 0.575);
    z-index: 1;
  }
  .places_contents {
    min-height: 2700px;
  }
  .place-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .places {
    min-height: 1500px;
    background-image: url('../img/background-3.jpg');
    /* background-repeat: no-repeat; */
    background-size: contain;
    display: flex;
    justify-content: center;
  }
  .place-img {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 40px;
  }
  .place-p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
    font-style: italic;
  }
  #place-p-1,
  #place-p-3,
  #place-info-4,
  #place-info-2 {
    margin: 0;
  }
  #place-info-1,
  #place-info-3 {
    flex-direction: column-reverse;
  }
  /*
  #place-p-3 {
    margin-top: -300px;
  }
  
  #place-info-4 {
    margin-top: -100px;
  }
  
  #place-info-2 {
    margin-top: -70px;
  } */

  .place-p-end {
    color: #fff;
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    font-style: normal;
    margin: 40px auto 80px auto;
    text-align: center;
    max-width: 800px;
  }

  .place-icon {
    margin-right: 10px;
  }

  .place-with-icon {
    display: flex;
    align-items: flex-start;
  }

  .places_title {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 70px;
  }
}

@media (max-width: 680px) {
  .conferences_title {
    font-size: 43px;
  }
  .conferences_info {
    width: 450px;
  }
  .footer {
    min-height: 300px;
  }
  .footer-p-adress {
    max-width: 125px;
  }
  .footer-p {
    margin-top: 80px;
  }
}
@media (max-width: 650px) {
  .contents_with_phone {
    min-height: 1100px;
    background-color: rgba(255, 255, 255, 0.575);
    background-image: url('../img/backgroundPhone_650.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 0px;
    z-index: 1;
  }
  .contents_with_phone:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(240, 240, 240, 0.753);
  }
  .organization_contents {
    z-index: 5;
  }
  .exp_contents {
    z-index: 5;
  }
  .organization_title {
    text-align: center;
  }
  .organization_contents {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .places_contents {
    min-height: 2570px;
  }
  .portfolio {
    min-height: 725px;
  }
  .footer {
    min-height: 500px;
  }
  .footer_content {
    display: block;
  }
  .footer_content-1,
  .footer_content-3 {
    bottom: 20px;
  }
  .social-link,
  .footer-p-adress,
  .footer-p-phone-1,
  .footer-p-phone {
    font-size: 14px;
  }
  .footer-p {
    margin-top: 30px;
  }
  .social-img {
    width: 26px;
  }
}
@media (max-width: 608px) {
  .places_title {
    font-size: 30px;
  }
  .places_contents {
    min-height: 2400px;
  }
}
@media (max-width: 590px) {
  .conferences_title {
    font-size: 35px;
  }
  .conferences_info {
    font-size: 14px;
    width: 400px;
  }
  .contents_with_phone {
    background-position-y: 50px;
  }
  .places_contents {
    min-height: 2300px;
  }
  .portfolio-title {
    margin-bottom: 110px;
  }
  .portfolio {
    min-height: 680px;
  }
}

@media (max-width: 514px) {
  .places_title {
    font-size: 26px;
  }
  .place-p {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  .conferences_title {
    font-size: 30px;
  }
  .conferences_info {
    font-size: 14px;
    width: 350px;
  }
  .contents_with_phone {
    min-height: 1050px;
    background-color: rgba(255, 255, 255, 0.575);
    background-image: url('../img/backgroundPhone_490.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .places_contents {
    min-height: 2170px;
  }
  .place-p-end {
    font-size: 20px;
  }
  .places_title {
    font-size: 22px;
  }
  .portfolio {
    min-height: 610px;
  }
  .experience {
    margin-top: 50px;
  }
  .about_text {
    font-size: 14px;
  }
}
@media (max-width: 431px) {
  .organization_title {
    font-size: 30px;
  }
  .places_contents {
    min-height: 2100px;
  }
  .place-p {
    font-size: 14px;
  }
  .portfolio {
    min-height: 550px;
  }
}

@media (max-width: 425px) {
  .conferences_title {
    font-size: 26px;
  }
  .conferences_info {
    font-size: 14px;
    width: 300px;
  }
  .contents_with_phone {
    min-height: 1100px;
    background-color: rgba(255, 255, 255, 0.575);
    background-image: url('../img/backgroundPhone_490.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}
@media (max-width: 409px) {
  .organization_title_info {
    font-size: 20px;
    text-shadow: 0 0 25px #000;
  }
  .org-p {
    font-size: 14px;
  }
  .places_contents {
    min-height: 2000px;
  }
  .place-p-end {
    font-size: 18px;
  }
  .places_title {
    font-size: 32px;
    line-height: 40px;
  }
  .experience {
    margin-top: 70px;
  }
  .contents_with_phone {
    min-height: 1050px;
  }
  .portfolio {
    min-height: 500px;
  }
  .portfolio-title,
  .about_title,
  .company_title {
    font-size: 32px;
  }
  .footer {
    min-height: 500px;
  }
  /* .footer_content {
    display: block;
  }
  .footer_content-1,
  .footer_content-3 {
    bottom: 20px;
  } */
  .social-link,
  .footer-p-adress,
  .footer-p-phone-1,
  .footer-p-phone {
    font-size: 12px;
  }
  /* .footer-p {
    margin-top: 30px;
  } */
  .social-img {
    width: 22px;
  }
}
@media (max-width: 375px) {
  .conferences_title {
    font-size: 24px;
  }
  .conferences_info {
    font-size: 14px;
    width: 300px;
  }
  .organization_title {
    font-size: 26px;
  }

  .places_contents {
    min-height: 1900px;
  }
  .experience_info b {
    font-size: 18px;
  }
  .portfolio {
    min-height: 470px;
  }
  .footer {
    min-height: 650px;
  }
  .footer_content {
    display: block;
  }
  .footer_content-1 {
    bottom: 150px;
  }
  .footer_content-3 {
    bottom: 20px;
    left: 25px;
  }
  .social-link,
  .footer-p-adress,
  .footer-p-phone-1,
  .footer-p-phone {
    font-size: 14px;
  }
  .footer-p {
    margin-top: 30px;
  }
  .social-img {
    width: 22px;
  }
}
@media (max-width: 349px) {
  .organization_title_info {
    font-size: 18px;
  }

  .places_contents {
    min-height: 1850px;
  }
  .place-p-end {
    font-size: 16px;
  }
  .experience {
    margin-top: 70px;
  }
  .contents_with_phone {
    min-height: 1100px;
  }
  .about_text {
    font-size: 12px;
  }
  .company_title {
    font-size: 26px;
  }
  .with_company {
    min-height: 440px;
  }
}
@media (max-width: 325px) {
  .conferences_title {
    font-size: 22px;
  }
  .conferences_info {
    font-size: 14px;
    width: 275px;
  }
  .organization_title {
    font-size: 22px;
  }
  .contents_with_phone {
    min-height: 1100px;
  }
  .places_contents {
    min-height: 1800px;
  }
  .portfolio {
    min-height: 420px;
  }
}
@media (max-width: 301px) {
  .organization_title_info,
  .experience_info b {
    font-size: 16px;
  }
  .places_contents {
    min-height: 1700px;
  }
  .place-p-end {
    font-size: 14px;
  }
  .company_title {
    font-size: 24px;
  }
}
